{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "qemu-vexpress-a9_qemu",
            "type": "cppdbg",
            "request": "launch",
            "cwd": "${workspaceRoot}",
            "setupCommands": [
                {
                    "text": "cd ${workspaceRoot}"
                },
                {
                    "text": "file {{ TARGET_FILE }}"
                },
                {
                    "text": "break main"
                }
            ],
            "program": "${workspaceRoot}/{{ TARGET_FILE }}",
            "MIMode": "gdb",
            "miDebuggerPath": "{{ RTT_ENV_ROOT }}/tools/gnu_gcc/arm_gcc/mingw/bin/arm-none-eabi-gdb.exe",
            "miDebuggerServerAddress": "localhost:1234",
            "servertype": "qemu"
        }
    ],
    "enable": true
}