{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "qemu-vexpress-a9_qemu",
            "type": "cppdbg",
            "request": "launch",
            "cwd": "${workspaceRoot}",
            "setupCommands": [
                {
                    "text": "cd ${workspaceRoot}"
                },
                {
                    "text": "file {{ prj.TARGET_FILE }}"
                },
                //{
                //    "text": "break main"
                //}
            ],
            "program": "${workspaceRoot}/{{ prj.TARGET_FILE }}",
            "MIMode": "gdb",
            "miDebuggerPath": "{{ env.GCC_EXEC_PATH }}/arm-none-eabi-gdb.exe",
            "miDebuggerServerAddress": "localhost:1234",
            "servertype": "qemu"
        }
    ],
    "enable": true
}
