{
    "RTT_Studio.Build.Parallel_Jobs": "{{ env.CPU_COUNT }}",
    "RTT_Studio.RTT_ENV_ROOT": "{{ env.ENV_ROOT }}",
    "RTT_Studio.RTT_ROOT": "{{ env.RTT_ROOT }}",
    "RTT_Studio.Toolchain_Location": "{{ env.GCC_EXEC_PATH }}",
    "RTT_Studio.SystemInfo.Push.Flag": false,
    "RTT_Studio.Debuger.Gdb_Path": "{{ env.GCC_EXEC_PATH }}/arm-none-eabi-gdb.exe",
    "RTT_Studio.Debuger.Generate_Configuration_Automatically": false,
    "RTT_Studio.Debuger.QEMU.Location": "{{ env.QEMU_HOME }}",
    "RTT_Studio.Debuger.Adapter": "QEMU",
    "RTT_Studio.Debuger.Bin_File": "{{ prj.BIN_FILE }}",
    "RTT_Studio.Debuger.Executable_File": "{{ prj.TARGET_FILE }}",
    "RTT_Studio.Debuger.QEMU.Commands": "qemu-system-arm -M vexpress-a9 -kernel {{ prj.TARGET_FILE }} -display none -serial stdio -sd sd.bin",
    "cmake.configureOnOpen": false
}
