if PKG_USING_HRTIMER_V3

    choice
        default HRT_USING_OSTICK
        prompt "Select hrtimer source"

        config HRT_USING_OSTICK
            bool "os tick, timestamp=1ms, callout=1ms"

        config HRT_USING_SYSTICK
            bool "sys tick, timestamp=1us, callout=1ms"

        config HRT_USING_HWTIMER
            bool "hard timer, timestamp=1us, callout=1us"

        config HRT_USING_CPUTIME
            bool "cpu time, timestamp=1us, callout=1us"

    endchoice

endif
