# type
*~
*.a
*.d
*.i
*.o
*.obj
*.bak
*.dep
*.idb
*.pdb
*.old
*.ilk
*.pyc
*.map
*.elf
*.hex
*.lib
*.exe
*.dblite
*.scvd
*.bin

# folder
temp
dist
build
Debug
DebugConfig
.metadata
.rtt-studio
.vs
.vscode

**/cubemx/*
!**/cubemx/Core
!**/cubemx/*.ioc
!**/cubemx/Src
!**/cubemx/Inc

# file
*.uvguix.*
.cortex-debug*
.sconsign.dblite
.config
cconfig.h
rtconfig_preinc.h
.sconsign.tmp
*_autogen.bat
*_autogen.h
.rtthread_jlink_download
.rtthread_stlink_download
