
if PKG_USING_HRTIMER_V2
    choice
        prompt "Select hrtimer source"
        default HRT_USING_SYSTICK

        config HRT_USING_SYSTICK
            bool "sys tick"

        config HRT_USING_HWTIMER
            bool "hard timer"

    endchoice

    if HRT_USING_HWTIMER
        config HRT_HWTIMER_NAME
            string "hard timer name"
            default "tim13"
    endif

endif
