menuconfig PKG_USING_AVOIDANCE
    bool "avoidance: inject the setpoints of an obstacle avoidance system"
    select PKG_USING_MATRIX
    select PKG_USING_MATHLIB
    select PKUG_USING_UORB

    default n
