click
empy==3.3.4
future
Jinja2
matplotlib
mkdocs
numpy
packaging
pathlib2
pycryptodome
pymavlink
pyparsing
pyros-genmsg
pywin32
pyserial
pyyaml
requests
scons
six
typing
toml
argparse
argcomplete
wheel
clang-format
pre-commit