mainmenu "RT-Thread Configuration"

RTT_DIR := ../../../rtos/rt-thread

PKGS_DIR := ../../../rtos/packages

source "$(RTT_DIR)/Kconfig"
osource "$PKGS_DIR/Kconfig"
# rsource "../libraries/Kconfig"
rsource "board/Kconfig"
