
#
# RT-Thread Kernel
#
CONFIG_RT_NAME_MAX=8
# CONFIG_RT_USING_ARCH_DATA_TYPE is not set
# CONFIG_RT_USING_SMART is not set
# CONFIG_RT_USING_AMP is not set
# CONFIG_RT_USING_SMP is not set
CONFIG_RT_ALIGN_SIZE=8
# CONFIG_RT_THREAD_PRIORITY_8 is not set
CONFIG_RT_THREAD_PRIORITY_32=y
# CONFIG_RT_THREAD_PRIORITY_256 is not set
CONFIG_RT_THREAD_PRIORITY_MAX=32
CONFIG_RT_TICK_PER_SECOND=1000
CONFIG_RT_USING_OVERFLOW_CHECK=y
CONFIG_RT_USING_HOOK=y
CONFIG_RT_HOOK_USING_FUNC_PTR=y
CONFIG_RT_USING_IDLE_HOOK=y
CONFIG_RT_IDLE_HOOK_LIST_SIZE=4
CONFIG_IDLE_THREAD_STACK_SIZE=256
CONFIG_RT_USING_TIMER_SOFT=y
CONFIG_RT_TIMER_THREAD_PRIO=4
CONFIG_RT_TIMER_THREAD_STACK_SIZE=512

#
# kservice optimization
#
CONFIG_RT_KSERVICE_USING_STDLIB=y
# CONFIG_RT_KSERVICE_USING_STDLIB_MEMORY is not set
# CONFIG_RT_KSERVICE_USING_TINY_SIZE is not set
# CONFIG_RT_USING_TINY_FFS is not set
# CONFIG_RT_KPRINTF_USING_LONGLONG is not set
# end of kservice optimization

CONFIG_RT_USING_DEBUG=y
CONFIG_RT_DEBUGING_COLOR=y
CONFIG_RT_DEBUGING_CONTEXT=y
# CONFIG_RT_DEBUGING_INIT is not set

#
# Inter-Thread communication
#
CONFIG_RT_USING_SEMAPHORE=y
CONFIG_RT_USING_MUTEX=y
CONFIG_RT_USING_EVENT=y
CONFIG_RT_USING_MAILBOX=y
CONFIG_RT_USING_MESSAGEQUEUE=y
# CONFIG_RT_USING_MESSAGEQUEUE_PRIORITY is not set
# CONFIG_RT_USING_SIGNALS is not set
# end of Inter-Thread communication

#
# Memory Management
#
CONFIG_RT_USING_MEMPOOL=y
CONFIG_RT_USING_SMALL_MEM=y
# CONFIG_RT_USING_SLAB is not set
# CONFIG_RT_USING_MEMHEAP is not set
CONFIG_RT_USING_SMALL_MEM_AS_HEAP=y
# CONFIG_RT_USING_MEMHEAP_AS_HEAP is not set
# CONFIG_RT_USING_SLAB_AS_HEAP is not set
# CONFIG_RT_USING_USERHEAP is not set
# CONFIG_RT_USING_NOHEAP is not set
# CONFIG_RT_USING_MEMTRACE is not set
# CONFIG_RT_USING_HEAP_ISR is not set
CONFIG_RT_USING_HEAP=y
# end of Memory Management

#
# Kernel Device Object
#
CONFIG_RT_USING_DEVICE=y
# CONFIG_RT_USING_DEVICE_OPS is not set
# CONFIG_RT_USING_DM is not set
# CONFIG_RT_USING_INTERRUPT_INFO is not set
CONFIG_RT_USING_CONSOLE=y
CONFIG_RT_CONSOLEBUF_SIZE=128
CONFIG_RT_CONSOLE_DEVICE_NAME="uart"
# end of Kernel Device Object

CONFIG_RT_VER_NUM=0x50002
# CONFIG_RT_USING_STDC_ATOMIC is not set
# end of RT-Thread Kernel

#
# RT-Thread Libcpu
#
CONFIG_RT_USING_CACHE=y
CONFIG_RT_USING_HW_ATOMIC=y
CONFIG_RT_USING_CPU_FFS=y
CONFIG_ARCH_ARM=y
CONFIG_ARCH_ARM_CORTEX_M=y
CONFIG_ARCH_ARM_CORTEX_M7=y
# end of RT-Thread Libcpu

#
# RT-Thread Components
#
CONFIG_RT_USING_COMPONENTS_INIT=y
CONFIG_RT_USING_USER_MAIN=y
CONFIG_RT_MAIN_THREAD_STACK_SIZE=2048
CONFIG_RT_MAIN_THREAD_PRIORITY=10
# CONFIG_RT_USING_LEGACY is not set
CONFIG_RT_USING_MSH=y
CONFIG_RT_USING_FINSH=y
CONFIG_FINSH_USING_MSH=y
CONFIG_FINSH_THREAD_NAME="tshell"
CONFIG_FINSH_THREAD_PRIORITY=20
CONFIG_FINSH_THREAD_STACK_SIZE=4096
CONFIG_FINSH_USING_HISTORY=y
CONFIG_FINSH_HISTORY_LINES=5
CONFIG_FINSH_USING_SYMTAB=y
CONFIG_FINSH_CMD_SIZE=80
CONFIG_MSH_USING_BUILT_IN_COMMANDS=y
CONFIG_FINSH_USING_DESCRIPTION=y
# CONFIG_FINSH_ECHO_DISABLE_DEFAULT is not set
# CONFIG_FINSH_USING_AUTH is not set
CONFIG_FINSH_ARG_MAX=10
CONFIG_FINSH_USING_OPTION_COMPLETION=y

#
# DFS: device virtual file system
#
CONFIG_RT_USING_DFS=y
CONFIG_DFS_USING_POSIX=y
CONFIG_DFS_USING_WORKDIR=y
# CONFIG_RT_USING_DFS_MNTTABLE is not set
CONFIG_DFS_FD_MAX=16
CONFIG_RT_USING_DFS_V1=y
# CONFIG_RT_USING_DFS_V2 is not set
CONFIG_DFS_FILESYSTEMS_MAX=4
CONFIG_DFS_FILESYSTEM_TYPES_MAX=4
# CONFIG_RT_USING_DFS_ELMFAT is not set
CONFIG_RT_USING_DFS_DEVFS=y
# CONFIG_RT_USING_DFS_ROMFS is not set
# CONFIG_RT_USING_DFS_CROMFS is not set
# CONFIG_RT_USING_DFS_RAMFS is not set
# CONFIG_RT_USING_DFS_TMPFS is not set
# CONFIG_RT_USING_DFS_MQUEUE is not set
# end of DFS: device virtual file system

# CONFIG_RT_USING_FAL is not set

#
# Device Drivers
#
CONFIG_RT_USING_DEVICE_IPC=y
CONFIG_RT_UNAMED_PIPE_NUMBER=64
# CONFIG_RT_USING_SYSTEM_WORKQUEUE is not set
CONFIG_RT_USING_SERIAL=y
CONFIG_RT_USING_SERIAL_V1=y
# CONFIG_RT_USING_SERIAL_V2 is not set
CONFIG_RT_SERIAL_USING_DMA=y
CONFIG_RT_SERIAL_RB_BUFSZ=64
# CONFIG_RT_USING_CAN is not set
# CONFIG_RT_USING_HWTIMER is not set
# CONFIG_RT_USING_CPUTIME is not set
# CONFIG_RT_USING_I2C is not set
# CONFIG_RT_USING_PHY is not set
CONFIG_RT_USING_PIN=y
# CONFIG_RT_USING_ADC is not set
# CONFIG_RT_USING_DAC is not set
# CONFIG_RT_USING_NULL is not set
# CONFIG_RT_USING_ZERO is not set
# CONFIG_RT_USING_RANDOM is not set
# CONFIG_RT_USING_PWM is not set
# CONFIG_RT_USING_MTD_NOR is not set
# CONFIG_RT_USING_MTD_NAND is not set
# CONFIG_RT_USING_PM is not set
# CONFIG_RT_USING_FDT is not set
# CONFIG_RT_USING_RTC is not set
# CONFIG_RT_USING_SDIO is not set
# CONFIG_RT_USING_SPI is not set
# CONFIG_RT_USING_WDT is not set
# CONFIG_RT_USING_AUDIO is not set
# CONFIG_RT_USING_SENSOR is not set
# CONFIG_RT_USING_TOUCH is not set
# CONFIG_RT_USING_LCD is not set
# CONFIG_RT_USING_HWCRYPTO is not set
# CONFIG_RT_USING_PULSE_ENCODER is not set
# CONFIG_RT_USING_INPUT_CAPTURE is not set
# CONFIG_RT_USING_DEV_BUS is not set
# CONFIG_RT_USING_WIFI is not set
# CONFIG_RT_USING_VIRTIO is not set
# CONFIG_RT_USING_KTIME is not set

#
# Using USB
#
# CONFIG_RT_USING_USB_HOST is not set
# CONFIG_RT_USING_USB_DEVICE is not set
# end of Using USB
# end of Device Drivers

#
# C/C++ and POSIX layer
#

#
# ISO-ANSI C layer
#

#
# Timezone and Daylight Saving Time
#
# CONFIG_RT_LIBC_USING_FULL_TZ_DST is not set
CONFIG_RT_LIBC_USING_LIGHT_TZ_DST=y
CONFIG_RT_LIBC_TZ_DEFAULT_HOUR=8
CONFIG_RT_LIBC_TZ_DEFAULT_MIN=0
CONFIG_RT_LIBC_TZ_DEFAULT_SEC=0
# end of Timezone and Daylight Saving Time
# end of ISO-ANSI C layer

#
# POSIX (Portable Operating System Interface) layer
#
# CONFIG_RT_USING_POSIX_FS is not set
# CONFIG_RT_USING_POSIX_DELAY is not set
# CONFIG_RT_USING_POSIX_CLOCK is not set
# CONFIG_RT_USING_POSIX_TIMER is not set
# CONFIG_RT_USING_PTHREADS is not set
# CONFIG_RT_USING_MODULE is not set

#
# Interprocess Communication (IPC)
#
# CONFIG_RT_USING_POSIX_PIPE is not set
# CONFIG_RT_USING_POSIX_MESSAGE_QUEUE is not set
# CONFIG_RT_USING_POSIX_MESSAGE_SEMAPHORE is not set

#
# Socket is in the 'Network' category
#
# end of Interprocess Communication (IPC)
# end of POSIX (Portable Operating System Interface) layer

# CONFIG_RT_USING_CPLUSPLUS is not set
# end of C/C++ and POSIX layer

#
# Network
#
# CONFIG_RT_USING_SAL is not set
# CONFIG_RT_USING_NETDEV is not set
# CONFIG_RT_USING_LWIP is not set
# CONFIG_RT_USING_AT is not set
# end of Network

#
# Utilities
#
# CONFIG_RT_USING_RYM is not set
# CONFIG_RT_USING_ULOG is not set
# CONFIG_RT_USING_UTEST is not set
# CONFIG_RT_USING_VAR_EXPORT is not set
# CONFIG_RT_USING_RESOURCE_ID is not set
# CONFIG_RT_USING_ADT is not set
# CONFIG_RT_USING_RT_LINK is not set
# end of Utilities

# CONFIG_RT_USING_VBUS is not set
# end of RT-Thread Components

#
# RT-Thread Utestcases
#
# CONFIG_RT_USING_UTESTCASES is not set
# end of RT-Thread Utestcases

#
# Nextpilot Firmware Config
#
CONFIG_BOARD_CONSTRAINED_MEMORY=y
CONFIG_BOARD_CONSTRAINED_FLASH=y

#
# Nextpilot Airframe Config
#
# CONFIG_SYS_USING_AIRFRAME is not set
# end of Nextpilot Airframe Config

#
# Nextpilot Bootloader Config
#

#
# Nextpilot Controller Config
#
# CONFIG_FCS_USING_COMMANDER is not set
# CONFIG_FCS_USING_CONTROL_ALLOCATOR is not set
# CONFIG_FCS_USING_FLIGHT_MODE_MANAGER is not set
# CONFIG_FCS_USING_FW_ATT_CONTROL is not set
# CONFIG_FCS_USING_FW_AUTOTUNE_ATTITUDE_CONTROL is not set
# CONFIG_FCS_UISNG_FW_POS_CONTROL is not set
# CONFIG_FCS_USING_FW_RATE_CONTROL is not set
# CONFIG_FCS_USING_LAND_DETECTOR is not set
# CONFIG_FCS_USING_LANDING_TARGET_ESTIMATOR is not set
# CONFIG_FCS_USING_MANUAL_CONTROL is not set
# CONFIG_FCS_USING_MC_ATT_CONTROL is not set
# CONFIG_FCS_MC_AUTOTUNE_ATTITUDE_CONTROL is not set
# CONFIG_FCS_USING_MC_HOVER_THRUST_ESTIMATOR is not set
# CONFIG_FCS_USING_MC_POS_CONTROL is not set
# CONFIG_FCS_USING_MC_RATE_CONTROL is not set
# CONFIG_FCS_USING_NAVIGATOR is not set
# CONFIG_FCS_USING_RC_UPDATE is not set
# CONFIG_FCS_USING_VTOL_ATT_CONTROL is not set
# end of Nextpilot Controller Config

#
# Nextpilot Estimator Config
#
# CONFIG_INS_USING_AIRSPEED_SELECTOR is not set
# CONFIG_INS_USING_ATTITUDE_ESTIMATOR_Q is not set
# CONFIG_INS_USING_EKF2 is not set
# CONFIG_INS_USING_EKF2_FAKE is not set
# CONFIG_INS_USING_GYRO_CALIBRATION is not set
# CONFIG_INS_USING_GYRO_FFT is not set
# CONFIG_INS_USING_LOCAL_POSITION_ESTIMATOR is not set
# CONFIG_INS_USING_MAG_BIAS_ESTIMATOR is not set
# CONFIG_INS_USING_SENSORS is not set
# CONFIG_INS_USING_TEMPERATURE_COMPENSATION is not set
# end of Nextpilot Estimator Config

#
# Nextpilot Libraries Config
#

#
# Controller Libraries Config
#
# CONFIG_PKG_USING_ADSB is not set
# CONFIG_PKG_USING_AVOIDANCE is not set
# CONFIG_PKG_USING_BEZIER is not set
# CONFIG_PKG_USING_CIRCUIT_BREAKER is not set
# CONFIG_PKG_USING_COLLISION_PREVENTION is not set
# CONFIG_PKG_USING_CONTROLLIB is not set
# CONFIG_PKG_USING_ROTATION is not set
# CONFIG_PKG_USING_GEO is not set
# CONFIG_PKG_USING_HYSTERESIS is not set
# CONFIG_PKG_USING_ECL is not set
# CONFIG_PKG_USING_MIXER_MODULE is not set
# CONFIG_PKG_USING_MOTION_PLANNING is not set
# CONFIG_PKG_USING_NPFG is not set
# CONFIG_PKG_USING_PID is not set
# CONFIG_PKG_USING_PID_DESIGN is not set
# CONFIG_PKG_USING_RATE_CONTROL is not set
# CONFIG_PKG_USING_SLEW_RATE is not set
# CONFIG_PKG_USING_SYSTEM_IDENTIFICATION is not set
# CONFIG_PKG_USING_TECS is not set
# CONFIG_PKG_USING_TERRAIN_ESTIMATION is not set
# CONFIG_PKG_USING_WEATHER_VANE is not set
# end of Controller Libraries Config

#
# Estimator Libraries Config
#
# CONFIG_PKG_USING_FIELD_SENSOR_BIAS_ESTIMATOR is not set
# CONFIG_PKG_USING_SENSOR_CALIBRATION is not set
# CONFIG_PKG_USING_TERRAIN_ESTIMATOR is not set
# CONFIG_PKG_USING_WIND_ESTIMATOR is not set
# CONFIG_PKG_USING_WORLD_MAGNETIC_MODEL is not set
# end of Estimator Libraries Config

#
# Peripheral Libraries Config
#
# CONFIG_PKG_USING_BATTERY is not set
# CONFIG_PKG_USING_LED_CONTROL is not set
# CONFIG_PKG_USING_TUNES is not set
# CONFIG_PKG_USING_ACCELEROMETER is not set
# CONFIG_PKG_USING_AIRSPEED is not set
# CONFIG_PKG_USING_GYROSCOPE is not set
# CONFIG_PKG_USING_MAGNETOMETER is not set
# CONFIG_PKG_USING_RANGEFINDER is not set
# end of Peripheral Libraries Config

# CONFIG_PKG_USING_BUTTON_PUBLISHER is not set
# CONFIG_PKG_USING_TIMESYNC is not set
# end of Nextpilot Libraries Config

#
# Nextpilot Peripheral Config
#

#
# Nextpilot Simulation Config
#
# CONFIG_SIM_USING_BATTERY is not set
# CONFIG_SIM_USING_PWM_OUT is not set
# CONFIG_SIM_USING_SENSOR_AIRSPEED is not set
# CONFIG_SIM_USING_SENSOR_BARO is not set
# CONFIG_SIM_USING_SENSOR_GPS is not set
# CONFIG_SIM_USING_SENSOR_MAG is not set
# CONFIG_SIM_USING_SIH is not set
# end of Nextpilot Simulation Config

#
# Nextpilot Storage Config
#
# CONFIG_SYS_USING_DATAMAN is not set
# CONFIG_SYS_USING_LOGGER is not set
# CONFIG_MODULES_REPLAY is not set
# CONFIG_SYS_USING_ROMFS is not set
# end of Nextpilot Storage Config

#
# Nextpilot Telemetry Config
#
# CONFIG_TEL_USING_MAVLINK is not set
# CONFIG_TEL_USING_UAVCAN is not set
# CONFIG_MODULES_UXRCE_DDS_CLIENT is not set
# end of Nextpilot Telemetry Config
# end of Nextpilot Firmware Config

#
# Nextpilot Hardware Config
#
CONFIG_BSP_PX4_FMUv5=y
CONFIG_SOC_STM32F765II=y

#
# Chip Memory Setting
#
CONFIG_FLASH_START_ADDRESS=0x08000000
CONFIG_FLASH_APP_VTOR_OFFSET=0
CONFIG_FLASH_APP_TOTAL_LENGTH=2048
CONFIG_SRAM_START_ADDRESS=0x20000000
CONFIG_SRAM_TOTAL_LENGTH=512
# end of Chip Memory Setting

#
# On-chip Peripheral Drivers
#
CONFIG_BSP_USING_GPIO=y
# CONFIG_BSP_USING_ADC is not set
# CONFIG_BSP_USING_TIM is not set
# CONFIG_BSP_USING_PWM is not set
CONFIG_BSP_USING_UART=y
# CONFIG_BSP_USING_UART1 is not set
# CONFIG_BSP_USING_UART2 is not set
# CONFIG_BSP_USING_UART3 is not set
# CONFIG_BSP_USING_UART4 is not set
# CONFIG_BSP_USING_UART5 is not set
# CONFIG_BSP_USING_UART6 is not set
CONFIG_BSP_USING_UART7=y
# CONFIG_BSP_UART7_RX_USING_DMA is not set
# CONFIG_BSP_UART7_TX_USING_DMA is not set
# CONFIG_BSP_USING_UART8 is not set
# CONFIG_BSP_USING_CAN is not set
# CONFIG_BSP_USING_I2C is not set
# CONFIG_BSP_USING_SPI is not set
# CONFIG_BSP_USING_QSPI is not set
# CONFIG_BSP_USING_WDT is not set
# CONFIG_BSP_USING_USBD is not set
# CONFIG_BSP_USING_ONCHIP_RTC is not set
# CONFIG_BSP_USING_ON_CHIP_FLASH is not set
# CONFIG_BSP_USING_SDIO is not set
CONFIG_SOC_FAMILY_STM32=y
CONFIG_SOC_SERIES_STM32F7=y
# end of On-chip Peripheral Drivers

#
# Onboard Peripheral Drivers
#

#
# Board extended module Drivers
#
# end of Nextpilot Hardware Config
