menuconfig DRV_USING_GPS
	bool "gps driver for novatel, unicore, ublox etc"
	default n
	---help---
		Enable support for gps

if DRV_USING_GPS

	config DRV_USING_UNICORE
		bool "use unicore board"
		default n

	config DRV_USING_NOVATEL
		bool "use novatel board"
		default n

	config DRV_USING_UBX
		bool "use ubx board"
		default n
endif
