mainmenu "Nexpilot Project Configuration"

config BSP_DIR
    string
    option env="BSP_ROOT"
    default "."

config PRJ_DIR
    string
    option env="PRJ_ROOT"
    default "../../.."

config RTT_DIR
    string
    option env="RTT_ROOT"
    default "../../../rtos/rt-thread"

config PKGS_DIR
    string
    option env="PKGS_ROOT"
    default "../../../tools/packages"

# bsp
menu "Nextpilot Hardware Config"
orsource "*/Kconfig"
endmenu

# apps
orsource "../../../*/Kconfig"

# rthread
#source "$RTT_DIR/Kconfig"

# online package
#source "$PKGS_DIR/Kconfig"
