mainmenu "RT-Thread Project Configuration"

config BSP_DIR
    string
    option env="BSP_ROOT"
    default "."

config PRJ_DIR
    string
    option env="PRJ_ROOT"
    default "../../.."

config RTT_DIR
    string
    option env="RTT_ROOT"
    default "../../../rtos/rt-thread"

config PKGS_DIR
    string
    option env="PKGS_ROOT"
    default "../../../tools/packages"

source "$RTT_DIR/Kconfig"
source "$PKGS_DIR/Kconfig"
source "$BSP_DIR/drivers/Kconfig"
source "$PRJ_DIR/apps/Kconfig"
