menuconfig PKG_USING_HRTIMER
    bool "hrtimer: high-resolution timer with callouts and timekeeping"
    default n

if PKG_USING_HRTIMER
    choice
        prompt "Select Hrtimer Version"
        default PKG_USING_HRTIMER_V3

        config PKG_USING_HRTIMER_V1
            bool "PKG_USING_HRTIMER_V1"

        config PKG_USING_HRTIMER_V2
            bool "PKG_USING_HRTIMER_V2"

        config PKG_USING_HRTIMER_V3
            bool "PKG_USING_HRTIMER_V3"
    endchoice

    if PKG_USING_HRTIMER_V1
        rsource "V1/Kconfig"
    endif

    if PKG_USING_HRTIMER_V2
        rsource "V2/Kconfig"
    endif

    if PKG_USING_HRTIMER_V3
        rsource "V3/Kconfig"
    endif
endif
