menuconfig TEL_USING_MAVLINK
	bool "mavlink"
	default n
	---help---
		Enable support for mavlink

config MAVLINK_DIALECT
depends on TEL_USING_MAVLINK
        string "Mavlink dialect"
        default "common"
	---help---
		Select the Mavlink dialect to generate and use.

config MAVLINK_UAVCAN_PARAMETERS
depends on TEL_USING_MAVLINK && TEL_USING_UAVCAN
        bool "Mavlink UAVCAN parameter support"
        default y
	---help---
		Expose UAVCAN parameters over Mavlink.

# menuconfig USER_MAVLINK
# 	bool "mavlink running as userspace module"
# 	default y
# 	depends on BOARD_PROTECTED && TEL_USING_MAVLINK
# 	---help---
# 		Put mavlink in userspace memory
