menuconfig FCS_USING_COMMANDER
	bool "commander"
	select PKG_USING_SENSOR_CALIBRATION
	select PKG_USING_EVENTS
	select PKG_USING_TUNES
	select PKG_USING_WORLD_MAGNETIC_MODEL
	select PKG_USING_GETOPT
	default n
	---help---
		Enable support for commander

# menuconfig USER_COMMANDER
# 	bool "commander running as userspace module"
# 	default y
# 	depends on BOARD_PROTECTED && MODULES_COMMANDER
# 	---help---
# 		Put commander in userspace memory
