menuconfig SYS_USING_HRTIMER
    bool "hrtimer: high-resolution timer with callouts and timekeeping"
    select LIB_USING_QUEUE
    default n

if SYS_USING_HRTIMER
    choice
        default HRT_USING_HARD_SYSTICK
        prompt "Select hrtimer source"

        config HRT_USING_HARD_SYSTICK
            bool "os systick"

        config HRT_USING_HARD_TIMER
            bool "hard timer"

    endchoice

    if HRT_USING_HARD_TIMER
        config HRT_HARD_TIMER_NAME
            string "hard timer name"
            default "tim13"
    endif

endif
