menuconfig PKG_USING_PARAM
    bool "param: global parameter store manage v1"
    select PKG_USING_UORB
    select PKG_USING_HRTIMER
    select PKG_USING_LIBCRC
    default n

if PKG_USING_PARAM
    config PARAM_USING_GLOBAL_AUTOGEN
        bool "Enable autogen interface"
        default y

    config PARAM_USING_LINKER_SECTION
        bool "Enabel section interface"
        default n

    config PARAM_USING_SIMULINK_CAPI
        bool "Enable simulink interface"
        default n

    choice
        prompt "Select storage device"
        default PARAM_USING_STORAGE_FILE

        config PARAM_USING_STORAGE_FILE
            bool "file"

        config PARAM_USING_STORAGE_FM25V02
            bool "fm25v02"
    endchoice

    if PARAM_USING_STORAGE_FILE
        config PARAM_DEFAULT_FILE_PATH
            string "default file path for param"
            default "/mnt/microsd/etc/param.bin" if SYS_USING_ROMFS
            default "/param.bin"
    endif

    if PARAM_USING_STORAGE_FM25V02
        config PARAM_FM25V02_DEVICE_NAME
            string "fm25v02 device name for param"
            default "fm25v02"
    endif
endif
